<div class="site-wrapper">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <!-- <img src="assets/images/pic1.jpg" alt="First slide"> -->
                <%= image_tag("pic1.jpg", alt: "First slide") %>
                <div class="container">
                    <div class="carousel-caption">
                        <h1>传感器优质供应商.</h1>
                        <p>
                            塑造领袖风范。
                        </p>
                        <p><a class="btn btn-lg btn-primary" href="/about" role="button">了解更多</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <!-- <img src="assets/images/pic2.jpg" alt="Second slide"> -->
                <%= image_tag("pic2.jpg", alt: "Sirst slide") %>
                <div class="container">
                    <div class="carousel-caption">
                        <h1>精英的模具设计团队.</h1>
                        <p>
                            品质卓越，源于创新。
                        </p>
                        <p><a class="btn btn-lg btn-primary" href="/about" role="button">了解更多</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
<!--                 <img src="assets/images/pic3.jpg" alt="Third slide">
 -->                <%= image_tag("pic3.jpg", alt: "Third slide") %>
                <div class="container">
                    <div class="carousel-caption">
                        <h1>专业的塑料加工及制造商.</h1>
                        <p>
                            公司始终坚持定位行业高端，追求卓越品质和客户持续满意的经营理念。
                        </p>
                        <p><a class="btn btn-lg btn-primary" href="/about" role="button">了解更多</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
</div>
