
<div class = "navbar navbar-default navbar-fixed-bottom">
    <div class = "container">
        <p class = "navbar-text pull-left">
            &copy; 2014 南京华特莱思模塑有限公司 &middot; <a href="#">隐私</a> &middot; <a href="#">法律声明</a>
        </p>
        <p>
            <ul>
                <li><%= link_to "关于我们", about_path %></li>
                <li><%= link_to "联系合作", contact_path %></li>
                <li><a href="#">新闻</a></li>
            </ul>
        </p>
    </div>
</div>