<div class="navbar-wrapper">
    <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <%= link_to "南京华特莱思模塑有限公司", root_path, id: "logo", class: "navbar-brand" %>
                    
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <!-- <li class="active"><a href="#">Home</a></li> -->
                        <li class="active"><%= link_to "首页", root_path %></li>
                        <!-- <li><a href="#about">About</a></li> -->
                        <li><%= link_to "关于我们", about_path %></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">产品名录 <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                        <!-- <li><a href="#contact">Contact</a></li> -->
                        <li><%= link_to "联系合作", "#contact", "data-toggle" => "modal" %></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class = "modal fade" id = "contact" role = "dialog">
    <div class = "modal-dialog">
        <div class = "modal-content">

            <form class = "form-horizontal" action = "/contact" method = "GET">
                <div class = "modal-header">
                    <h4> 联系我们</h4>
                </div>


                <div class = "modal-body">
                    <div class = "form-group">
                        <label for = "contact-name" class = "col-lg-2 control-label">姓名:</label>
                        <div class = "col-lg-10">
                            <input type = "text" name = "contact_name" class = "form-control" id = "contact-name" placeholder = "">
                        </div>
                    </div>

                    <div class = "form-group">
                        <label for = "contact-phone" class = "col-lg-2 control-label">联系电话:</label>
                        <div class = "col-lg-10">
                            <input type = "tel" name = "contact_tel" class = "form-control" id = "contact-tel" placeholder = "">
                        </div>
                    </div>

                    <div class = "form-group">
                        <label for = "contact-email" class = "col-lg-2 control-label">电子邮件:</label>
                        <div class = "col-lg-10">
                            <input type = "email" name = "contact_email" class = "form-control" id = "contact-email" placeholder = "">
                        </div>
                    </div>

                    <div class = "form-group">
                        <label for = "contact-msg" class = "col-lg-2 control-label">留言:</label>
                        <div class = "col-lg-10">
                            <textarea name = "message" class = "form-control" rows = "8"></textarea>
                        </div>
                    </div>

                </div>

                <div class = "modal-footer">
                    <a class = "btn btn-default" data-dismiss = "modal">Close</a>
                    <button class = "btn btn-primary" type = "submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>